@model IEnumerable<Project_Gremlin.Models.Character>
<div class="container">
    <div style="font-family: Philosopher; color:white;">
        <h1>Characters</h1>
    </div>
    <div class="row justify-content-center" style="padding-bottom: 100px;">
        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                <partial model="item" name="_characterCard" />
            }
            <partial name="_CharacterAdd" />
        }
        else
        {
             <div class="text-center mt-4" style="font-family: Philosopher; color:white;">
                 <h3>Character list is empty</h3>
                 <partial name="_CharacterAdd" />
             </div>
        }




    </div>

</div>