<div class="ml-4 mt-5">
    <a asp-controller="Character" asp-action="AddCharacter">
        <div class="card position-releative ml-2" style="border-radius: 12.632px;">
            <div class="d-flex justify-content-center mt-2" id="box">
                <i class="far fa-plus-square add-icon"></i>
            </div>
            <div class="card-text">
                <p>Add you`re character</p>
            </div>
        </div>
    </a>

</div>